.btn{
    color: white;
margin-right:1rem;
border-radius: 1rem;
padding:1rem;
border-style: none;
margin-right:1rem;
margin-bottom: 1rem;
background-color:#4D4C7D ;
display: "flex";
cursor: "pointer";
justify-content: "center";
}
.inputs{
    margin-right:1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border-style: 1px solid black;
    padding:1rem;
    width:15rem
}
.nav-bar {
    display: flex;
    padding: 10px;
    justify-content: center;
    background-color: #1d2d50;
    /* border-radius:0.5rem; */
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    box-shadow  : 10px 5px 5px black,
  }

  .array-container{
    position: absolute;
    left:100px
  }
  .array-bar{
    display: inline-block;
    margin: 0 1px;
    width: "2%";
  }



